@font-face {
    font-family: "yekan";
    src: url(/fonts/Yekan.eot);
    src: url(/fonts/Yekan.eot?#iefix) format("embedded-opentype"), url(/fonts/Yekan.woff) format("woff"), url(/fonts/Yekan.ttf) format("truetype"), url(/fonts/Yekan.svg#BYekan) format("svg");
    font-weight: normal;
    font-style: normal
}
 
#navtop  {
    background-color: lightblue;
    color: crimson;
}

.bg-custom {
    background-color: honeydew !important;
}

/*********** Select2 ************/
.select2-container--default.select2-container--focus .select2-selection--multiple, .select2-container--default .select2-selection--multiple {
    border: 1px solid #ced4da !important;
}

.select2 {
    width: 100% !important;
    
    
}

.select2-container--default .select2-selection--multiple {
    border-radius: 0px !important;
}

.select2-container .select2-selection--single {
    height: 35px !important;
    border-radius: 0px !important;
    border: 1px solid #ced4da !important;
}

.select2-search__field {
    text-align: right;
}

.select2-container .select2-search--inline {
    float: right !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    float: right !important;
    margin-left: 5px !important;
    margin-right: 0px !important;
}

/*********** Select2 ************/
.select2-container--default.select2-container--focus .select2-selection--multiple, .select2-container--default .select2-selection--multiple {
    border: 1px solid #ced4da !important;
}

.select2 {
    width: 100% !important;
}

.select2-container--default .select2-selection--multiple {
    border-radius: 0px !important;
}

.select2-container .select2-selection--single {
    height: 35px !important;
    border-radius: 0px !important;
    border: 1px solid #ced4da !important;
}

.select2-search__field {
    text-align: right;
}

.select2-container .select2-search--inline {
    float: right !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    float: right !important;
    margin-left: 5px !important;
    margin-right: 0px !important;
}

/*********** Select2 ************/
.fileinput-custom {
    width: 100% !important;
    background-color: #e7e7e7 !important;
}